<h1>Which movies do you want to add</h1>
<ul>
  <% @movies.each do |movie| %>
    <li><%= movie.title %></li>
  <% end %>
</ul>

<%= form_with(model: [@list, @bookmark]) do |form| %>
  <%= form.label :movie_id, "Movie" %>
  <%= form.collection_select :movie_id, @movies, :id, :title, prompt: "Select a Movie"%>
  <%= form.label :comment %>
  <%= form.text_field :comment %>
  <%= form.submit "Create Bookmark" %>
  <% end %>
